<div class="jumbotron jumbotron-fluid">
  <div id="baltittle" class="container">
    <h1 class="display">New Division</h1>
    <p class="lead">Provide required details for the division registration</p>
  </div>
</div>

<form class="container mt-5">
  <div class="form-group">
    <label for="divName">Name</label>
    <input type="text" class="form-control" (blur)="checkName()" id="divName" aria-describedby="division-name" placeholder="Enter division name" [(ngModel)]="division.name" name="name">
    <small class="form-text text-danger">{{msg}}</small>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlSelect1">District</label>
    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="division.district" name="district">
      <option>Ampara</option>
      <option>Anuradhapura</option>
      <option>Badulla</option>
      <option>Batticaloa</option>
      <option>Colombo</option>
      <option>Galle</option>
      <option>Gampaha</option>
      <option>Hambantota</option>
      <option>Jaffna</option>
      <option>Kalutara</option>
      <option>Kandy</option>
      <option>Kegalle</option>
      <option>Kilinochchi</option>
      <option>Kurunegala</option>
      <option>Mannar</option>
      <option>Matale</option>
      <option>Matara</option>
      <option>Moneragala</option>
      <option>Mullaitivu</option>
      <option>Nuwara Eliya</option>
      <option>Polonnaruwa</option>
      <option>Puttalam</option>
      <option>Ratnapura</option>
      <option>Trincomalee</option>
      <option>Vavuniya</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Province</label>
    <select class="form-control" id="exampleFormControlSelect1"[(ngModel)]="division.province" name="province">
      <option>Central Province</option>
      <option>Eastern Province</option>
      <option>Northern Province</option>
      <option>Southern Province</option>
      <option>Western Province</option>
      <option value="NorthWestern Province">North Western Province</option>
      <option value="NorthCentral Province">North Central Province</option>
      <option>Uva Province</option>
      <option>Sabaragamuwa Province</option>
    </select>
  </div>
  <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit </button>
  <span  class=" p-2"><i *ngIf="success" class="fas fa-check-circle text-success"></i><i *ngIf="failed" class="fas fa-exclamation-circle text-danger"></i></span>
  
  <div *ngIf="loading" class="spinner-grow text-success p-2" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</form>
