<div class="jumbotron jumbotron-fluid">
  <div id="baltittle" class="container">
    <h1 class="display">Add New Politician</h1>
    <p class="lead">Enter required details for register a politician</p>
  </div>
</div>

<form class="container mt-5">
  <div class="form-group">
    <label for="pName">Name</label>
    <input type="text" class="form-control" id="pName" aria-describedby="polling-station-name"
      placeholder="Enter politician's name" [(ngModel)]="politician.name" name="name">
    <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="partyName">NIC</label>
    <input type="text" class="form-control" id="nic" aria-describedby="polling-station-name"
      placeholder="Enter NIC of politician" [(ngModel)]="politician.nic" name="nic" (blur)="checkNic()">
    <small class="form-text text-danger">{{msg}}</small>
  </div>
  <div class="form-group">
    <label for="partyName">Party Name</label>
    <input type="text" class="form-control" id="partyName" aria-describedby="polling-station-name"
      placeholder="Enter name of the party" [(ngModel)]="politician.party" name="party">
    <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="imageUrl">Image</label>
    <input type="url" class="form-control" id="imageUrl" aria-describedby="polling-station-name"
      placeholder="Enter url of image" [(ngModel)]="politician.image" name="image">
    <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="role">Role</label>
    <input type="text" class="form-control" id="role" aria-describedby="polling-station-name"
      placeholder="Enter role" [(ngModel)]="politician.role" name="role">
    <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="contact">Office Contact Number</label>
    <input type="text" class="form-control" id="contact" aria-describedby="polling-station-name"
     placeholder="Enter contact number of the office" [(ngModel)]="politician.officeContact" name="officeContact">
    <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="address">Office Address</label>
    <input type="address" class="form-control" id="address" placeholder="Address of office" [(ngModel)]="politician.officeAddress" name="officeAddress">
  </div>
  <div class="form-group">
    <label for="bio">Bio</label>
    <input type="text" class="form-control" id="bio" placeholder="Enter bio" [(ngModel)]="politician.bio" name="bio">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Division</label>
    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="politician.electoralDivision" name="electoralDivision">
      <option *ngFor="let division of divisions" [value]="[division.divisionId]">{{division.name}} - {{division.district}}</option>
      
    </select>
  </div>

  <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="!valid">Submit</button>
  <span  class=" p-2"><i *ngIf="success" class="fas fa-check-circle text-success"></i><i *ngIf="failed" class="fas fa-exclamation-circle text-danger"></i></span>
  
  <div *ngIf="loading" class="spinner-grow text-success p-2" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</form>
