

<div class="container mt-3">
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let election of sortData; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{election.name}}</td>
      <td>{{election.startTime| date:'medium'}}</td>
      <td>{{election.endTime| date:'medium'}}</td>
      <td>{{election.electionStatus}}</td>
    </tr>
    
  </tbody>
</table>
</div>