<div class="jumbotron jumbotron-fluid">
  <div id="baltittle" class="container">
    <h1 class="display">E-Ballot</h1>
    <p class="lead">This is your ballot to cast your vote. Use your vote wise !!</p>
  </div>
</div>

<div *ngIf="ready" id="ballot-list" class="container">

  <div class="row">
    <div class="card m-3" style="width: 50vw;" *ngFor="let c of candidates" (click)="cardOnClick(c)">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="c.image" style="width: 15vw;" class="card-img" alt="Candidate image not availble">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title ">{{c.name}}</h3>
              <p class="card-text">{{c.party}}</p>
              <button class="btn btn-primary card-desc" (click)="submitVote(c)">Vote {{c.name}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card m-3" style="width: 50vw;" (click)="cardOnClick()">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_640.png" style="width: 15vw;" class="card-img" alt="Candidate image not availble">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title ">No Politician</h3>
              <p class="card-text">No Party</p>
              <button class="btn btn-primary card-desc" (click)="submitVote(null)">Null Vote</button>
              <p><small>Note - This vote will be consider as an invalid vote.</small></p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div *ngIf="!ready" class="container">
  <h1>{{msg}}</h1>
  <small>Start Time: {{election.startTime|date:'medium'}}</small>
</div>

  
  