<div class="jumbotron jumbotron-fluid">
  <div id="baltittle" class="container">
    <h1 class="display">E-Ballot</h1>
    <p class="lead">This is your ballot to cast your vote. Use your vote wise !!</p>
  </div>
</div>

<div class="container">
  <div class="card mb-3" *ngFor="let c of candidates" [class.active]="c.politicianId === activePartyId" (click)="cardOnClick(p)">
    <img class="card-img-top" [src]="c.image" alt="Candidate image not availble">
    <div class="card-body">
      <h5 class="card-title">{{c.name}}</h5>
      <h4 class="card-desc" style="flood-opacity: 1;"><b>{{msg}}</b></h4>
    </div>
  </div>

</div>
<!-- 
  <div class="container">
    <h5>Preferencial votes : {{3 - votes}}</h5>
    <div>
      <span class="btn btn-danger" *ngFor="let x of prefvotes" (click)="spanOnClick(x)" [ngClass]="{'active-span': selectedVotes.includes(x)}"  ngbPopover="{{x.title}}" triggers="mouseenter:mouseleave" popoverTitle="{{x.pName}}">{{x.number}}</span>
    </div>
    <br>
    <button class="btn btn-primary btn-lg" *ngIf="selectedVotes.length == 3" (click)="submitVote()" routerLink="../summary">Cast Your Ballot</button>
  </div> -->
  