#baltittle {
    height: 3vh;
}

.card-body {
    height: 6vh;
    background-color: rgb(223, 221, 221)
}

.card-img-top {
    height: 12vh;
}
 
.card-title {
    margin-top: -1vh;
    text-align: center;
}

img {
    background-size: cover
 }

 .card:hover {
    transform: scale(1.025); 
    opacity: 0.8;
 }

 .card:hover .card-desc {
     visibility: visible;
     opacity: 1;
     text-align: center;
     color: red;
 }

 .card:active {
    transform: scale(0.95); 
 }

 .active {
    transform: scale(0.95); 
    color: purple;
    /* opacity: 0.6; */
 }

 .active .card-img-top {
     opacity: 0.6;
 }

 .active .card-desc {
     visibility: visible;
     text-align: center;
     color:rgb(0, 0, 0);
 }

 a {
     width: 100%;
 }

 .card-desc {
     visibility: hidden;
     margin-top: -10vh;
 }