
/* 
.card-body {
    height: 6vh;
    background-color: rgb(223, 221, 221)
} */
/* 
.card-img-top {
    height: 12vh;
} */
 
/* .card-title {
    margin-top: -1vh;
    text-align: center;
} */

/* img {
    background-size: cover
 } */

 .card:hover {
    transform: scale(1.025); 
    opacity: 0.8;
 }

 .card:hover .card-desc {
     visibility: visible;
     opacity: 1;
     text-align: center;
 }

 .card:active {
    transform: scale(0.95); 
 }

 .active {
    transform: scale(0.95); 
    color: purple;
    /* opacity: 0.6; */
 }

 .active .card-img-top {
     opacity: 0.6;
 }

 .active .card-desc {
     visibility: visible;
     text-align: center;
     color:rgb(0, 0, 0);
 }

 /* a {
     width: 100%;
 } */

 .card-desc {
     visibility: hidden;
     /* margin-top: -10vh; */
 }

 .btn-danger {
     font-size: 2em;
     margin: 0.7vw;
     width: 2em;
     height: 2.2em;
     transition: transform 0.9s;
 }

 /* .btn-danger:hover {
     transition: transform 0.9s;
     transform : scale(4);
     opacity: 0.65;
    background-attachment: 
 } */


 .active-span {
     opacity: 0.5;
    transform: scale(0.77);
 }

 #ballot-list{
     margin-left: 20%;
     
 }