<form>
  <div class="form-group">
    <label for="psName">Name</label>
    <input type="text" class="form-control" id="psName" aria-describedby="polling-station-name" placeholder="Enter polling station">
    <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="address" class="form-control" id="address" placeholder="Location of polling station">
  </div>
  <div class="form-group">
    <label for="regVoters">Registed Voters</label>
    <input type="number" class="form-control" id="regVoters" placeholder="Number of registed voters of polling station">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Division</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>