/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 4rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #5a5a5a;
  }